:root {
  --primary: rgb(79, 201, 114);
  --secondary: rgb(50, 164, 216);
  --bg: rgb(100, 90, 90);
  --text: rgb(54, 22, 22);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  margin-top: 10px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}



body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: space-between;
}

header {
  font-family: 'Times New Roman', Times, serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: linear-gradient(45deg, #63d7d1, #76e683, #FBCFDB, #D6976B, #A38772);
  /*lam mo*/
  box-shadow: 0 2px 5px rgba(12, 12, 12, 0.5);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  z-index: 1000;
}

section {
  width: auto;
  height: auto;
  background-color: #c5ccbb;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(12, 12, 12, 0.5);
}

section i {
  color: #000000;
  background-color: #ffffff;
  background-size: 50px;
  box-shadow: 0 2px 20px rgba(12, 12, 12, 0.5);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 24px;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

section p {
  font-family: "Playwrite DK Loopet", cursive;
  font-weight: bolder;
  margin-top: 1rem;
}

h5 {
  font-family: "Tagesschrift", system-ui;
  font-size: 25px;
}



.number-item {
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}

/* tên web khi trên laptop */
.tittle {
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  margin-left: 5.5rem;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10px;
  align-items: center;
}

.user-login {
  display: flex;
  position: absolute;
  top: 27px;
  right: 10px;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  font-size: 20px;

}

.btn {
  border-radius: 20px;
  padding: 0.5rem 1.2rem;

}

.btn:hover {
  background-color: #4fdd56;
}

.dropdown-item:hover {
  background: #27f4f1;
  color: black;
}

.dropdown-item:active {
  background: #a7e690;
  color: black;
}

.dropdown-menu {
  width: 50px;
  display: none;
  position: fixed;
}

.dropdown-menu.show {
  display: block;
}

/* navbar */
.slide-collapse {
  position: fixed;
  top: 0px;
  right: 0;
  width: 250px;
  height: 100vh;
  background: linear-gradient(to right, #FDD273, #D6976B, #A38772);
  z-index: 1050;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  padding: 1rem;
  z-index: 1000;
  overflow-y: auto;
}

.slide-collapse.show {
  transform: translateX(0);
  transition: transform 0.4s ease-in-out;


}

.slide-collapse.hide {
  transform: translateX(100%);

}

.d-block:hover {
  font-weight: bold;
  color: rgb(42, 190, 239);
  text-decoration: none;
  font-size: larger;
}

.slide-close-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
}

.navbar-toggler-icon,
.navbar {
  display: none;

}


.logo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 90px;
  cursor: pointer;
  padding: 1.5rem;
  height: 90px;
  border-radius: 50%;
}

/* card */
.card {
  border-radius: 30px 5px 30px 5px;
  position: relative;
  margin-top: 5rem;
  top: 50%;
  align-items: center;
  justify-content: space-between;
  animation: pulseCard 2s ease-in-out infinite;
  box-shadow: 0 1px 10px rgba(12, 12, 12, 0.5);
}



article {
  margin-top: 100px;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(12, 12, 12, 0.5);
  background: linear-gradient(45deg, #73fdf8, #6ce889, #90d431, rgb(222, 215, 120));
}

.card-deck img {
  border-radius: 10px;
}

.slogan {
  position: relative;
  align-items: center;
  justify-self: center;
  font-size: 40px;
  -webkit-background-clip: text;
  background-clip: text;
  color: rgb(95, 5, 198);
  font-weight: bolder;
  background: linear-gradient(45deg, #6f54e6,
      #96e839, #eed91c,
      #c76fd4, #6f54e6);
  background-size: 300% 300%;
  background-clip: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  animation: slogan 7s linear infinite;
}

@keyframes slogan {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

article .text-muted {
  position: fixed;
  bottom: 0.5rem;
  left: 1rem;
}

aside {
  position: relative;
  margin-top: 2rem;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(12, 12, 12, 0.5);
}

.carousel-item img {
  border-radius: 50px;
  color: white;
}

.carousel-item .over-lay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1050;
  border-radius: 50px;
}

.carousel-caption p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

.carousel-caption h5 {
  font-size: 30px;
  color: #000000fa;
  z-index: 5000;
}

.hover-title {
  transition: color 0.3s, transform 0.3s;
  cursor: pointer;
  /* để con trỏ đổi dạng khi di chuột */
}

.hover-title:hover {
  color: #0826eb;
  transform: translateY(-5px);

}


@keyframes pulseCard {
  0% {
    transform: scale(0.98);
  }

  50% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(0.98);
  }
}


header i {
  margin-right: 5px;
}

/* nav a {
  position: absolute;
  text-decoration: none;
  color: var(--text);
  padding: 1rem;
  transition: background 0.3s ease;
} */

/*menu bar*/
.menu-bar {
  position: absolute;
  display: flex;
  top: auto;
  right: 5.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  background-color: white;
  padding: 1.6rem;
  width: 60%;
  height: 5%;
  margin-right: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

div span i {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-bar-item {
  position: relative;
  padding: 0.75rem 2.25rem 0.75rem 2rem;
  color: var(--text);
  text-decoration: none;
  transition: all 0.4s ease;
  background: white;
  border-radius: none;
  height: 40px;
  transition: all 0.4s ease;
}

.menu-bar-item::after {
  content: '';
  position: absolute;
  right: -1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 1.2rem solid transparent;
  border-bottom: 1.2rem solid transparent;
  border-left: 1rem solid white;
  z-index: 1;
  transition: border-left-color 0.5s ease;

}

.menu-bar-item::before {
  content: '';
  position: absolute;
  right: -1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 1.2rem solid transparent;
  border-bottom: 1.2rem solid transparent;
  border-left: 1rem solid var(--primary);
  z-index: 0;
  transition: border-left-color 0.4 ease;
}

.menu-bar-item:hover {
  background: linear-gradient(45deg, var(--primary), var(--secondary));
  background-color: white;
  text-decoration: none;
}

.menu-bar-item:hover::after {
  border-left-color: var(--primary);
}

.menu-bar-item:hover::before {
  border-left-color: var(--secondary);

}

.menu-bar-item:last-child {
  background: white;
  border-radius: 0 10px 10px 0;
}

.menu-bar-item:first-child {
  border-radius: 10px 0 0 10px;
}

.menu-bar-item:last-child:hover {
  background: linear-gradient(45deg, var(--primary), var(--secondary));


}

.menu-bar-item:nth-child(3) {
  background: linear-gradient(45deg, var(--primary), var(--secondary));

}

.menu-bar-item:nth-child(3)::after {
  border-left-color: var(--primary);
}

.menu-bar-item:nth-child(3)::before {
  border-left-color: var(--secondary);
}

.menu-bar-item:last-child::after,
.menu-bar-item:last-child::before {
  display: none;
}

.bar-toggle {
  display: none;
}

.card-img-top {
  padding: 1rem;
}

/* ipad mini */

@media screen and (max-width: 575.98px) {
  .tittle {
    position: relative;
    margin-left: 5rem;
    font-size: 15px;
  }

  .slogan {
    font-size: 20px;
  }

  .user-login {
    display: none !important;
    /* Ẩn user */
  }

  .carousel-caption p {
    font-size: 12px;
  }

  .carousel-caption h5 {
    font-size: 15px;
  }

  section p {
    font-family: "Playwrite DK Loopet", cursive;
    font-weight: bolder;
    margin-top: 1rem;
  }

  section h5 {
    font-family: "Tagesschrift", system-ui;
    font-size: 10px;
  }

}

@media screen and (min-width: 576px) and (max-width: 740px) {
  .tittle {
    position: relative;
    margin-left: 5rem;
    font-size: 17px;
  }

  .user-login {
    display: none !important;
    /* Ẩn user */
  }

  .slogan {
    font-size: 35px;
  }

  article p {
    font-size: 12px;
  }

  article h5 {
    font-size: 17px;
  }
}

@media screen and (min-width: 740.98px) and (max-width: 920px) {
  .tittle {
    position: relative;
    margin-left: 5rem;
    font-size: 20px;
  }

  .user-login {
    display: none !important;
  }

  .slogan {
    font-size: 40px;
  }

  h5 {
    font-size: 20px;
  }
}

@media screen and (min-width: 920.02px) and (max-width: 1279.98px) {
  .tittle {
    position: relative;
    margin-left: 5rem;
    font-size: 20px;
  }

  .nav,
  .menu-bar {
    width: 500px;
  }

  .user-login {
    display: none !important;
  }

  .fixed-right {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 1rem;
    flex-direction: column;
  }

  .navbar-toggler-icon {
    display: flex;
    top: 1rem;
    right: 1rem;
    width: 40px;
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
  }

  .navbar-toggler-icon,
  .navbar {
    display: flex;
  }

  .slide-close-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1280.02px) {
  nav.menu-bar {
    display: none;
  }

  .user-login {
    display: none !important;
  }

  .fixed-right {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 1rem;
    flex-direction: column;
  }

  .navbar-toggler-icon {
    display: flex;
    top: 1rem;
    right: 1rem;
    width: 40px;
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
  }

  .navbar-toggler-icon,
  .navbar {
    display: flex;
  }

  .slide-close-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
  }
}

/* footer */
footer {
  background-color: var(--dark-color);
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  transition: color 0.3s;
  display: block;
  margin-bottom: 5px;
}

.footer-links a:hover {
  color: white;
  padding-left: 5px;
}

.newsletter-form .form-control {
  border-radius: 0;
}

.newsletter-form .btn {
  border-radius: 0;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 99;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1040;
}

.back-to-top i :hover {
  background-color: #4fdd56;
  color: white;
}